body {
    background-color: #f4f4f4 !important;
    font-family: 'Montserrat',sans-serif;    
  }
 a {
   text-decoration: none;
   color: inherit;
 }
 a:hover{
   color: inherit;
 }
 footer{
   position: relative;
   top: 100px;
   height: 250px;
   color: white;
   background-color: black;
 }
 .nav-item {
  
  font-weight:500 !important;
  font-size: 18px;
  padding: 10px 32px !important;
  color: black !important;
  text-align: center !important;
 }

 .nav-item > .btn.btn-dark:hover{
    color: black;
    font-weight:500 !important;
    background-color: whitesmoke;
    border: 1px solid black;
 }
 .card-img-top {
   width: 64px !important;
   height: 66px !important;
   margin: 0 auto;
 }
 .btn.btn-dark{
  border-radius: 25px;
  padding: 6px 24px 7px;
  margin: -5px 15px 0 auto;
}
.hero{
  font-family: 'Raleway',sans-serif;
}
.hero h1 {
  font-size: 3em;
}
section#about-me{
  margin-bottom: 100px;
}
.bg-gray{
  background-color: #C0C0C0;
  border-radius: 25%;
  padding: 6px;
} 
.bg-gray:hover{
  cursor: pointer;
}
.container.d-flex a{
  text-decoration: none;
  color: inherit;
}

section.divider{
  background-image: linear-gradient(to right,black,#1a1a1a);
  color: #111111;
  text-align :right;
  width: 100%;
  height: 150px;
}
.divider>svg {
  overflow: hidden;
  /* left: auto; */
  right: 100px;
  top: -10px;
  filter: brightness(30%);
  position:absolute;
  color: whitesmoke;
  font-size: 10rem;
  transform: rotate(25deg);
}
.u-center{
  margin: 0 auto !important;
}
.about{
 /* margin-top: 80px; */
  width: 15%;
  /* margin-bottom: 80px; */
  margin: 0 auto;
  font-family: 'Montserrat',sans-serif;
}
span.fs-5.fw-bold{
  position: relative;
  left: -20px;
  top: 5px;
  font-family: 'Montserrat',sans-serif;
}
section>img.position-absolute{
  height: 200px;
}
.portfolio-text{
  position: relative;
  top: 50px;
  color: white;
  border-color: white !important;
}
p.fs-2{
  
  margin-top:107px;
  margin-bottom: 0;
}
p.fs-5{
  font-weight: 800 !important;
  color:grey;
}
.portfolio-card-img {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
 .u-card .card-img {
   height: 250px;
   object-fit: cover;
 }
 .form-container{
   width: 35%;
   margin: 10px auto;
 }
 .u-input{
   border: 0;
   border-bottom: 2px solid black;
   padding: 10px;
   width: 100%;
   background-color: #f4f4f4 !important;

 }
 input[type=submit]{
    border: 0;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 5px 14px;
    background-color: transparent;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 20px;
 }
 /* textarea.form-control {
  height: inherit!important;
} */
 input[type=submit]:hover{
    color: white;
    background-color: black;
 }

.u-container .u-card {
   
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    background-color: white;
}
.svg-white{
  color: white!important;
}
.u-container .u-card .content {
    
    padding: 10px 15px;
    text-align: center;
    color: white !important;
    visibility: hidden;
    pointer-events: none;
} 
.card-img:hover, .card-img-overlay:hover{
  filter: brightness(30%);
}
.u-container .u-card:hover .content {
    visibility: visible;
    opacity: 1;
    /* filter: brightness(100%); */
    
    transition-delay: ease-in-out 0.5s
}

.portfolio-container{
  
  padding: 50px;
  
}


@media (max-width: 1200px) { 
.about {
  font-size: 1.2rem;
  width: 25%;
}
.form-container{
  width: 55%;
  margin: 10px auto;
}

input[type=submit]{
   font-size: .8rem;
}

 }
 @media (max-width: 576px) { 
  .about {
    font-size: .9rem;
    width: 30%;
  }
  .portfolio-text{
    position: relative;
    top: 25px;
  }
  span.fs-5.fw-bold{
    font-size: .9rem !important;
  }
  section>img.position-absolute{
    height: 100px;
  }
}
@media only screen and (min-width:767px ) and (max-width:992px)   {
  .portfolio-text{
    position: relative;
    top: 35px;
  }
}