body {
    background-color: #e5e5e5 !important;
    font-family: 'Montserrat',sans-serif;    
  }
 a {
   text-decoration: none;
 }
 .nav-item {
  
  font-weight:500 !important;
  font-size: 18px;
  padding: 10px 32px !important;
  color: black !important;
  text-align: center !important;
 }

 .nav-item > .btn.btn-dark:hover{
    color: black;
    font-weight:500 !important;
    background-color: whitesmoke;
    border: 1px solid black;
 }
 .card-img-top {
   width: 64px !important;
   height: 66px !important;
   margin: 0 auto;
 }
 .btn.btn-dark{
  border-radius: 25px;
  padding: 6px 24px 7px;
  margin: -5px 15px 0 auto;
}
.hero{
  font-family: 'Raleway',sans-serif;
}
.hero h1 {
  font-size: 3em;
}
section#about-me{
  margin-bottom: 100px;
}
.bg-gray{
  background-color: #C0C0C0;
  border-radius: 25%;
  padding: 6px;
} 
.bg-gray:hover{
  cursor: pointer;
}
.container.d-flex a{
  text-decoration: none;
  color: inherit;
}

section.divider{
  background-image: linear-gradient(to right,black,#1a1a1a);
  color: #111111;
  text-align :right;
  width: 100%;
  height: 150px;
}
.divider>img {
  overflow: hidden;
  /* left: auto; */
  right: 100px;
  top: 0;
  position:absolute;
}
.u-center{
  margin: 0 auto !important;
}
.about{
 /* margin-top: 80px; */
  width: 15%;
  /* margin-bottom: 80px; */
  margin: 75px auto;
  font-family: 'Montserrat',sans-serif;
}
span.fs-5.fw-bold{
  position: relative;
  left: -20px;
  top: 5px;
  font-family: 'Montserrat',sans-serif;
}
p.fs-2{
  
  margin-top:107px;
  margin-bottom: 0;
}
p.fs-5{
  font-weight: 800 !important;
  color:grey;
}